* {
<<<<<<< HEAD
  margin: 0;
}
header {
  color: white;
}
#our_story-section {
  color: green;
}
#watch-section {
  color: darkred;
}
#expertise-section {
  color: fuchsia;
}
#team-section {
  color: yellowgreen;
}
#contact_client-section {
  color: lightsalmon;
}
footer {
  color: blueviolet;
}

header {
  background-image:  url("public/images/bgk-header.png");
  background-size: cover;
  height: 625px;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 960px;
  height: 100%;
}

#header-content {
  display:  flex;
  flex-direction: column;
  justify-content: center;
}

#header-content nav {
  width: 100%;
  max-width: 960px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

#nav-logo-title {
  display: flex;
  color: inherit;
  text-decoration: inherit;
}

.main-box  {
  display: flex;
  flex-direction: column;
  align-items:  center;
  text-align: center;
}


#section {
  width: 100%;
}

.button {
  font-size: 30px;
  color: rgb(42, 222, 198);
  border: 2px solid rgb(42, 222, 198);
  background-color: white;
}


#hero-section {
  color: blue;
}

#story-section {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  background-color:white;
  height: 400 px;
  width: 960px;
  
  padding: 0px 320px;
}


.story-container {
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.story-image {
  display: flex;
  justify-content: center;
  padding: 5%;

}

.story-para {
  display: flex;
  align-content: center;
}



#watch-section {
  background-image: url('./public/images/bgk-middle.png');
  color: white;
  height: 550px;
  background-size: cover;
  width: 100%;

}

.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.watch-image {
  display: flex;
  justify-content: center;
  padding-top: 180px;

}

.watch-para {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}


#expertise-section {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  background-color: white;
  height: 750 px;
  width: 960px;
  padding: 30px 320px 0;
  text-align: center;
  font-weight: bold;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding:20px;
  background-color:white ;
}


.top {
  display: inline-flex;
  border-bottom: 1px solid black;
  align-content: flex-start;
}

.bottom {
  display: inline-flex;

  align-items: flex-end;
}

.box-image {
  display: flex;
  padding: 10px 40px;
  margin-bottom: 30px;
  justify-content: center;
}

.box-para {
  display: inline-flex;
  padding: 30px;
  
}
.h3 {
  text-align: justify;
}
.box-top2 {
  border-left: 1px solid black;
}
.box-top3 {
  border-left: 1px solid black;
}
.box-bottom2 {
  border-left: 1px solid black;
}
.box-bottom3 {
  border-left: 1px solid black;
}




#team-section {
  background-image: url("public\images\bgk-header.png");
  color: yellowgreen;
}

#contact_client-section {
  color: lightsalmon;
}

footer {
  height: 380px;
  background-image: url('./public/images/bgk-footer.png/')
}
=======
    margin: 0;
  }
  nav {
    color: red;
  }
  #hero-section {
    color: blue;
  }
  #our_story-section {
    color: green;
  }
  #watch-section {
    color: darkred;
  }
  #expertise-section {
    color: fuchsia;
  }
  #team-section {
    color: yellowgreen;
  }
  #contact_client-section {
    color: lightsalmon;
  }

  footer {
    color: white;
    background-image: url("public/images/bgk-footer.png");
    width: 100%;
    height: 250px;
    display: flex;
  }
  
