* {
  margin: 0;
}
header {
  color: white;
}
#our_story-section {
  color: green;
}
#watch-section {
  color: darkred;
}
#expertise-section {
  color: fuchsia;
}
#team-section {
  color: yellowgreen;
}
#contact_client-section {
  color: lightsalmon;
}
footer {
  color: blueviolet;
}

header {
  background-image:  url("public/images/bgk-header.png");
  background-size: cover;
  height: 625px;
  display: flex;
  justify-content: center;
  
}
#bg-watch {
  background-image: url("public/images/bgk-middle.png");
}
.content {
  width: 100%;
  max-width: 960px;
  height: 100%;
}

#header-content {
  display:  flex;
  flex-direction: column;
  justify-content: center;
}

#header-content nav {
  width: 100%;
  max-width: 960px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

#nav-logo-title {
  display: flex;
  color: inherit;
  text-decoration: inherit;
}

.main-box  {
  display: flex;
  flex-direction: column;
  align-items:  center;
  text-align: center;
}
